# 1. Collecting the Data
**Loading data using pandas**

In [172]:
# import module yang akan digunakan
import pandas as pd

df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
display(df.head(5))
display(df_test.head(5))

   id  Umur Kelas Pekerja  ...  Kerugian Capital Jam per Minggu   Gaji
0   0    21    Wiraswasta  ...               0.0           35.0  <=7jt
1   1    49    Wiraswasta  ...               0.0           40.0  <=7jt
2   2    44    Wiraswasta  ...               0.0           45.0   >7jt
3   3    24    Wiraswasta  ...               0.0           35.0  <=7jt
4   4    33    Wiraswasta  ...               0.0           40.0   >7jt

[5 rows x 13 columns]

      id  Umur  ... Kerugian Capital  Jam per Minggu
0  35994    30  ...              0.0            40.0
1  35995    28  ...              0.0            50.0
2  35996    34  ...              0.0            40.0
3  35997    51  ...       28028000.0            40.0
4  35998    20  ...       22428000.0            40.0

[5 rows x 12 columns]

# 2. Exploratory Data Analysis(EDA)

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35994 entries, 0 to 35993
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     35994 non-null  int64
 1   Umur                   35994 non-null  int64
 2   Kelas Pekerja          35994 non-null  object
 3   Berat Akhir            35994 non-null  int64
 4   Pendidikan             35994 non-null  object
 5   Jmlh Tahun Pendidikan  35994 non-null  int64
 6   Status Perkawinan      35994 non-null  object
 7   Pekerjaan              35994 non-null  object
 8   Jenis Kelamin          35994 non-null  object
 9   Keuntungan Kapital     35994 non-null  float64
 10  Kerugian Capital       35994 non-null  float64
 11  Jam per Minggu         35994 non-null  float64
 12  Gaji                   35994 non-null  object
dtypes: float64(3), int64(4), object(6)
memory usage: 3.6+ MB

In [174]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9599 entries, 0 to 9598
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     9599 non-null   int64
 1   Umur                   9599 non-null   int64
 2   Kelas Pekerja          9599 non-null   object
 3   Berat Akhir            9599 non-null   int64
 4   Pendidikan             9599 non-null   object
 5   Jmlh Tahun Pendidikan  9599 non-null   int64
 6   Status Perkawinan      9599 non-null   object
 7   Pekerjaan              9599 non-null   object
 8   Jenis Kelamin          9599 non-null   object
 9   Keuntungan Kapital     9599 non-null   float64
 10  Kerugian Capital       9599 non-null   float64
 11  Jam per Minggu         9599 non-null   float64
dtypes: float64(3), int64(4), object(5)
memory usage: 900.0+ KB

# 3. Feature Engineering

In [175]:
display(df.head(10))

   id  Umur Kelas Pekerja  ...  Kerugian Capital Jam per Minggu   Gaji
0   0    21    Wiraswasta  ...               0.0           35.0  <=7jt
1   1    49    Wiraswasta  ...               0.0           40.0  <=7jt
2   2    44    Wiraswasta  ...               0.0           45.0   >7jt
3   3    24    Wiraswasta  ...               0.0           35.0  <=7jt
4   4    33    Wiraswasta  ...               0.0           40.0   >7jt
5   5    31    Wiraswasta  ...        19712000.0           40.0  <=7jt
6   6    32    Wiraswasta  ...               0.0           34.0  <=7jt
7   7    20    Wiraswasta  ...               0.0           40.0  <=7jt
8   8    23             ?  ...               0.0           40.0  <=7jt
9   9    43    Wiraswasta  ...               0.0           46.0  <=7jt

[10 rows x 13 columns]

**Mengecek Missing Value**

In [176]:
df[df['Kelas Pekerja'] == '?']

          id  Umur Kelas Pekerja  ...  Kerugian Capital Jam per Minggu   Gaji
8          8    23             ?  ...               0.0           40.0  <=7jt
27        27    42             ?  ...               0.0           12.0  <=7jt
73        73    21             ?  ...               0.0           40.0  <=7jt
99        99    74             ?  ...               0.0            6.0  <=7jt
105      105    60             ?  ...               0.0           32.0  <=7jt
...      ...   ...           ...  ...               ...            ...    ...
35838  35838    54             ?  ...               0.0           25.0  <=7jt
35850  35850    18             ?  ...               0.0           30.0  <=7jt
35928  35928    29             ?  ...               0.0           50.0  <=7jt
35939  35939    70             ?  ...               0.0           20.0  <=7jt
35948  35948    45             ?  ...               0.0           45.0   >7jt

[2063 rows x 13 columns]

In [177]:
df['Pekerjaan'].value_counts()

Spesialis                4587
Perbaikan Kerajinan      4507
Ekesekutif Managerial    4481
Pemuka Agama             4158
Sales                    4044
Servis Lainnya           3615
Mesin Inspeksi           2250
?                        2069
Supir                    1741
Pembersih                1540
Petani                   1076
Tech-support             1042
Penjaga                   686
Asisten Rumah Tangga      187
Tentara                    11
Name: Pekerjaan, dtype: int64

In [178]:
df['Kelas Pekerja'].value_counts()

Wiraswasta                       24948
Pekerja Bebas Bukan Perusahan     2866
Pemerintah Lokal                  2280
?                                 2063
Pemerintah Negara                 1477
Pekerja Bebas Perusahaan          1273
Pemerintah Provinsi               1066
Tanpa di Bayar                      15
Tidak Pernah Bekerja                 6
Name: Kelas Pekerja, dtype: int64

In [179]:
df_test[df_test['Kelas Pekerja'] == '?']['Pekerjaan'].value_counts()

?    552
Name: Pekerjaan, dtype: int64

In [180]:
df_test['Kelas Pekerja'].value_counts()

Wiraswasta                       6714
Pekerja Bebas Bukan Perusahan     732
Pemerintah Lokal                  624
?                                 552
Pemerintah Negara                 376
Pekerja Bebas Perusahaan          316
Pemerintah Provinsi               279
Tanpa di Bayar                      4
Tidak Pernah Bekerja                2
Name: Kelas Pekerja, dtype: int64

In [181]:
df['Kelas Pekerja']= df['Kelas Pekerja'].replace('?', 'Wiraswasta')
df_test['Kelas Pekerja'] = df_test['Kelas Pekerja'].replace('?', 'Wiraswasta')

In [182]:
df['Gaji'].replace({'<=7jt':0, '>7jt':1}, inplace=True)

In [183]:
pendidikan = {
    'SD' : 1,
    '1st-4th' :1,
    '5th-6th' :1,
    '9th' : 2,
    '7th-8th' : 2,
    'SMA' : 3,
    '11th' : 3,
    '10th' : 3,
    '12th' : 3,
    'D3' : 4,
    'D4' : 5,
    'Pendidikan Tinggi' : 5,
    'Sarjana' : 6,
    'Master' : 7,
    'Sekolah Professional' : 8,
    'Doktor' : 9
}

df['Pendidikan'] = df['Pendidikan'].replace(pendidikan)
df_test['Pendidikan'] = df_test['Pendidikan'].replace(pendidikan)

In [184]:
# drop id, gaji
X_train = df.drop(['id','Gaji'], axis=1)
X_test = df_test.drop(['id'], axis=1)

y = df['Gaji']

In [185]:
X_train

       Umur                  Kelas Pekerja  ...  Kerugian Capital  Jam per Minggu
0        21                     Wiraswasta  ...               0.0            35.0
1        49                     Wiraswasta  ...               0.0            40.0
2        44                     Wiraswasta  ...               0.0            45.0
3        24                     Wiraswasta  ...               0.0            35.0
4        33                     Wiraswasta  ...               0.0            40.0
...     ...                            ...  ...               ...             ...
35989    47  Pekerja Bebas Bukan Perusahan  ...               0.0            40.0
35990    69       Pekerja Bebas Perusahaan  ...               0.0            40.0
35991    24  Pekerja Bebas Bukan Perusahan  ...               0.0            20.0
35992    47                     Wiraswasta  ...               0.0            45.0
35993    45                     Wiraswasta  ...               0.0            60.0

[35994 rows x 11 columns]

**Membuat dummy supaya data kategori terpisah**

In [186]:
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

In [187]:
X_train.drop('Pekerjaan_?', axis=1, inplace=True)
X_test.drop('Pekerjaan_?', axis=1, inplace=True)

In [188]:
from sklearn.model_selection import GridSearchCV, cross_val_score

In [189]:
# menggunkan model Decision Tree
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
params = {
    'criterion' : ["gini", "entropy"],
    'splitter' : ["best", "random"]
}

dtc_gscv = GridSearchCV(dtc, param_grid = params, cv=5, scoring='roc_auc')
dtc_score = cross_val_score(dtc_gscv, X_train,y, cv=5 , scoring = 'roc_auc')
print(dtc_score.mean())

0.7486037318596238

In [190]:
from sklearn.ensemble import ExtraTreesClassifier

etc = ExtraTreesClassifier()
params = {
    'criterion' : ["gini", "entropy"],
    'n_estimators' : [10,30,50,70,100]
}

etc_gscv = GridSearchCV(etc, param_grid = params , cv=5, scoring='roc_auc')
etc_score = cross_val_score(etc_gscv,X_train, y, cv=5, scoring='roc_auc')
print(etc_score.mean())

0.8779710931567724

In [191]:
# menggunakan model naive bayes classifier
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()
nb_score = cross_val_score(nb, X_train, y, cv=5, scoring='roc_auc')
print(nb_score.mean())

0.6361332648878008

In [192]:
# menggunakan model Random Forest
# import model
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
params = {
    'criterion' : ["gini", "entropy"]
}

rfc_gscv = GridSearchCV(rfc, param_grid = params, cv=5, scoring='roc_auc')
score_rfc = cross_val_score(rfc_gscv, X_train, y, cv=5, scoring='roc_auc')
print(score_rfc.mean())

0.9000094284889864

In [193]:
from sklearn.linear_model import SGDClassifier

sgd = SGDClassifier()
params = {
    'loss' : ['hinge', 'log', 'modified_huber', 'squared_hinge', 'perceptron']
}

rgd_gscv = GridSearchCV(sgd, params, scoring = 'roc_auc', cv=5)
score_sgd = cross_val_score(rgd_gscv, X_train, y, cv=5, scoring='roc_auc')
print(score_sgd.mean())

0.5401507261052562

In [194]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

logreg_score = cross_val_score(logreg, X_train, y, cv=5, scoring='roc_auc')
print(logreg_score.mean())

0.6249877870076457

In [195]:
from sklearn import svm
svc = svm.SVC()
svc_score = cross_val_score(svc, X_train, y, cv=5, scoring='roc_auc')
print(svc_score.mean())

0.6323781169890061

In [196]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

logreg_score = cross_val_score(logreg, X_train, y, cv=5, scoring='roc_auc')
print(logreg_score.mean())

0.6249877870076457

In [197]:
from sklearn import svm
svc = svm.SVC()
svc_score = cross_val_score(svc, X_train, y, cv=5, scoring='roc_auc')
print(svc_score.mean())

0.6323781169890061

**Menggunakan StandardScaler**

In [198]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
X_train= scaler.fit_transform(X_train)

In [199]:
# menggunakan model KNN
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
params = {
    'n_neighbors' : np.arange(5,11,2),
    'weights' : ['distance']
    }

knn_gscv = GridSearchCV(knn, param_grid=params , cv=5, scoring='roc_auc') 
knn_score = cross_val_score(knn_gscv, X_train, y , cv=5, scoring='roc_auc')
print(knn_score.mean())

0.8651241774133384

In [200]:
# menggunkan model Decision Tree
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
params = {
    'criterion' : ["gini", "entropy"],
    'splitter' : ["best", "random"]
}

dtc_gscv = GridSearchCV(dtc, param_grid = params, cv=5, scoring='roc_auc')
dtc_score = cross_val_score(dtc_gscv, X_train,y, cv=5 , scoring = 'roc_auc')
print(dtc_score.mean())

0.7491352168577257

In [201]:
# menggunakan model naive bayes classifier
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()
nb_score = cross_val_score(nb, X_train, y, cv=5, scoring='roc_auc')
print(nb_score.mean())

0.8652971538260138

In [202]:
# menggunakan model Random Forest
# import model
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
params = {
    'criterion' : ["gini", "entropy"]
}

rfc_gscv = GridSearchCV(rfc, param_grid = params, cv=5, scoring='roc_auc')
score_rfc = cross_val_score(rfc_gscv, X_train, y, cv=5, scoring='roc_auc')
print(score_rfc.mean())

0.9006757862411454

In [203]:
#jossss
#Linear classifiers (SVM, logistic regression, etc.) with SGD training.
from sklearn.linear_model import SGDClassifier

sgd = SGDClassifier()
params = {
    'loss' : ['hinge', 'log', 'modified_huber', 'squared_hinge', 'perceptron']
}

rgd_gscv = GridSearchCV(sgd, params, scoring = 'roc_auc', cv=5)
score_sgd = cross_val_score(rgd_gscv, X_train, y, cv=5, scoring='roc_auc')
print(score_sgd.mean())

0.8970918819226679

In [204]:
#GradientBoostingClassifier
from sklearn.ensemble import GradientBoostingClassifier

gbc = GradientBoostingClassifier()
params = {
    'loss' : ['deviance'],
    'n_estimators' : [150],
    'learning_rate' : [0.2]
}

gbc_gscv = GridSearchCV(gbc, params, cv=5, scoring= 'roc_auc')
gbc_score = cross_val_score(gbc_gscv, X_train, y , cv=5, scoring='roc_auc')
print(gbc_score.mean())

0.9262280656783037

In [205]:
# ExtraTreesClassifier
from sklearn.ensemble import ExtraTreesClassifier

etc = ExtraTreesClassifier()
params = {
    'criterion' : ["gini", "entropy"],
    'n_estimators' : [10,30,50,70,100]
}

etc_gscv = GridSearchCV(etc, param_grid = params , cv=5, scoring='roc_auc')
etc_score = cross_val_score(etc_gscv,X_train, y, cv=5, scoring='roc_auc')
print(etc_score.mean())

0.8775993093180668

In [206]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
params = {
    'C' : [1.3000000000000003],
    'class_weight' : ['balanced'],
    'random_state' : [84],
    'solver' : ['sag'],
}
logreg_gscv = GridSearchCV(logreg, params, scoring = 'roc_auc', cv=5)

logreg_gscv_score = cross_val_score(logreg_gscv, X_train, y, cv=5, scoring='roc_auc')
print(logreg_gscv_score.mean())

0.9035223927772531

In [207]:
from sklearn import svm
svc = svm.SVC(kernel='linear')
svc_score = cross_val_score(svc, X_train, y, cv=5, scoring='roc_auc')
print(svc_score.mean())

0.9012875989812752

In [208]:
from sklearn.linear_model import LogisticRegressionCV
logregCV = LogisticRegressionCV()
logregCV_score = cross_val_score(logregCV, X_train, y, cv=5, scoring='roc_auc')
print(logregCV_score.mean())

0.9034607251189403

**Testing Data**

In [209]:
# standardscaler
scaler.fit(X_test)
X_test= scaler.fit_transform(X_test)

In [210]:
gbc_gscv.fit(X_train, y)
predict = gbc_gscv.predict(X_test)

**Menggabungkan data hasil prediksi dengan test.csv lalu Menyimpan Data tersebut**

In [211]:
submission = pd.DataFrame({
    'id' : df_test['id'],
    'Gaji' : predict
})
# menyimpan hasil prediksi kedalam csv
submission.to_csv('mohammadkhoirulroziq@gmail.com.csv', index=False)

In [213]:
X_test

array([[-0.61293213, -0.84797598,  0.41180931, ..., -0.01768135,
        -1.40782882,  1.40782882],
       [-0.75805233,  0.11473468, -0.85597695, ..., -0.01768135,
         0.71031363, -0.71031363],
       [-0.32269174,  0.09338392,  0.41180931, ..., -0.01768135,
         0.71031363, -0.71031363],
       ...,
       [-1.33853312,  0.45754031,  0.41180931, ..., -0.01768135,
        -1.40782882,  1.40782882],
       [ 0.18522895,  0.55484039, -0.85597695, ..., -0.01768135,
        -1.40782882,  1.40782882],
       [-0.32269174, -1.55089714, -0.85597695, ..., -0.01768135,
         0.71031363, -0.71031363]])